.main-nav
  display: flex
  flex-flow: row

  &__item
    font-family: 'ProximaNova', sans-serif
    font-weight: $font-weight-extra-bold
    font-size: 16px
    padding-left: 25px
    padding-right: 25px
    &:first-child
      padding-left: 0
    &:last-child
      padding-right: 0

  &__link
    color: #ffffff
    transition: .3s ease-in
    &:hover
      color: $base-color
      text-decoration: none
    &:focus
      outline: none
      color: $base-color
      text-decoration: none
    &.active
      color: $base-color