.contact-info-block
  background: #ffffff
  width: 100%
  box-shadow: 0px 4px 16.08px 7.92px rgba(0, 0, 0, 0.59)
  padding: 40px 30px

  &__company-name
    font-family: 'ProximaNova', sans-serif
    font-weight: $font-weight-light
    font-size: 24px
    margin-bottom: 15px

  &__row
    margin-bottom: 15px
    font-size: 15px
    font-weight: $font-weight-normal
    line-height: normal

  &__phone-code
    display: inline-block
    vertical-align: middle

  &__phone-number
    display: inline-block
    vertical-align: middle
    color: $base-color

  &__docs
    font-family: 'ProximaNova', sans-serif
    font-weight: $font-weight-light
    line-height: normal