.section
  padding: 70px 0
  background:
    position: top center
    size: cover

  &__text
    color: #ffffff
    font-size: 18px
    line-height: 35px
    font-family: 'ProximaNova', sans-serif
    font-weight: $font-weight-light