.portfolio-address-tabs
  display: flex
  flex-flow: column
  align-items: flex-start

  &__item
    display: inline-block
    background: none
    border: none
    color: #ffffff
    padding: 0
    position: relative
    font-family: 'ProximaNova', sans-serif
    font-weight: $font-weight-normal
    font-size: 18px
    line-height: 44px
    cursor: pointer
    &:after
      content: ''
      display: block
      position: absolute
      bottom: 7px
      left: 0
      height: 1px
      width: 0
      background: $base-color
      transition: width .3s cubic-bezier(.17,.67,.83,.67)
    &:hover
      &:after
        width: 100%
    &.active
      color: $base-color
      &:after
        width: 100%
    &:focus
      outline: none


.portfolio-tabs-content
  display: block
  position: absolute
  visibility: hidden
  opacity: 0
  transition: 0.2s opacity, 0s visibility 0.5s
  transform: translate(-999999px)

  &.active
    position: relative
    opacity: 1
    visibility: visible
    transition: 0.3s opacity, 0s visibility
    transform: translate(0)