.base-tabs-content
  position: relative
  min-height: 100px

  &__loader
    display: none
    position: absolute
    width: 100%
    top: 0
    right: 0
    bottom: 0
    left: 0

    img
      position: absolute
      left: 50%
      transform: translate(-50%)
      width: 80px
      height: 80px