.base-tabs
  display: flex
  flex-flow: row
  margin-bottom: 50px

  &__item
    border-radius: 4px
    background: none
    color: #ffffff
    border: 1px solid $base-color
    padding: 10px 40px
    font-size: 21px
    font-family: 'ProximaNova', sans-serif
    font-weight: $font-weight-semi-bold
    cursor: pointer
    margin-right: 20px
    letter-spacing: 0.04em
    &:last-child
      margin-right: 0
    span
      display: inline-block
      position: relative
      line-height: normal
      &:after
        content: ''
        position: absolute
        bottom: 0
        left: 0
        height: 2px
        background: $base-color
        transition: width .3s ease-in
        width: 0

    &:focus
      outline: none

    &.active
      color: $base-color
      background: #ffffff

    &:hover
      span
        &:after
          width: 100%