.services-tabs
  display: flex
  flex-flow: column
  align-items: flex-start

  &__item
    display: inline-block
    background: none
    border: none
    color: #ffffff
    padding: 0
    position: relative
    font-family: 'ProximaNova', sans-serif
    font-weight: $font-weight-semi-bold
    font-size: 20px
    line-height: 44px
    letter-spacing: 0.04em
    cursor: pointer
    &:after
      content: ''
      display: block
      position: absolute
      bottom: 0
      left: 0
      height: 2px
      width: 0
      background: $base-color
      transition: width .3s cubic-bezier(.17,.67,.83,.67)
    &:hover
      &:after
        width: 100%
    &.active
      color: $base-color
    &:focus
      outline: none