$font-weight-thin: 100;        // Thin (Hairline)
$font-weight-extra-light: 200; // Extra Light (Ultra Light)
$font-weight-light: 300;   // Light
$font-weight-normal: 400;  // Regular (normal)
$font-weight-medium: 500;           // Medium
$font-weight-semi-bold: 600;      // Semi Bold (Demi Bold)
$font-weight-bold: 700;           // Bold
$font-weight-extra-bold: 800;     // Extra Bold (Ultra Bold)
$font-weight-black: 900;          // Black (Heavy)


@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
}

  @return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face-dev($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
  eot: "?",
  svg: "#" + str-replace($name, " ", "_")
);

  $formats: (
  otf: "opentype",
  ttf: "truetype"
);

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-display: swap;
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}


@include font-face-dev("ProximaNova", "../../fonts/ProximaNova/ProximaNovaT-Thin", $font-weight-thin, $exts: eot ttf woff)
@include font-face-dev("ProximaNova", "../../fonts/ProximaNova/ProximaNova-Extrabld", $font-weight-extra-bold, $exts: eot ttf woff)
@include font-face-dev("ProximaNova", "../../fonts/ProximaNova/ProximaNova-Light", $font-weight-light, $exts: eot ttf woff)
@include font-face-dev("ProximaNova", "../../fonts/ProximaNova/ProximaNovaExCn-Bold", $font-weight-bold, $exts: eot ttf woff)
@include font-face-dev("ProximaNova", "../../fonts/ProximaNova/ProximaNovaCond-Regular", $font-weight-normal, $exts: eot ttf woff)

@include font-face-dev("SFUIDisplay", "../../fonts/SFUIDisplay/SFUIDisplay-Light", $font-weight-light, $exts: eot ttf svg woff)
@include font-face-dev("SFUIDisplay", "../../fonts/SFUIDisplay/SFUIDisplay-Semibold", $font-weight-semi-bold, $exts: eot ttf svg woff)
@include font-face-dev("SFUIDisplay", "../../fonts/SFUIDisplay/SFUIDisplay-Heavy", $font-weight-bold, $exts: eot ttf svg woff)
@include font-face-dev("SFUIDisplay", "../../fonts/SFUIDisplay/SFUIDisplay-Black", $font-weight-black, $exts: eot ttf svg woff)