h1
  font-family: 'ProximaNova', sans-serif !important
  font-weight: $font-weight-extra-bold !important
  font-size: 46px
  line-height: 72px

h2
  font-size: 48px
  line-height: 72px
  color: $base-color
  font-weight: $font-weight-bold
  margin-bottom: 30px

strong
  font-family: 'ProximaNova', sans-serif
  font-weight: $font-weight-black
  font-size: 20px