.portfolio-content

  &__text
    color: #ffffff
    line-height: 34px
    font-size: 16px

  &__info
    margin-top: 50px

  &__address-title
    font-size: 19px
    font-family: 'ProximaNova', sans-serif
    font-weight: $font-weight-black
    color: #ffffff
    margin-bottom: 15px

.portfolio-main-tabs-content
  display: block
  position: absolute
  visibility: hidden
  opacity: 0
  transition: 0.2s opacity, 0s visibility 0.5s
  transform: translate(-999999px)

  &.active
    position: relative
    opacity: 1
    visibility: visible
    transition: 0.3s opacity, 0s visibility
    transform: translate(0)