.footer
  padding: 40px 0

  &__inner
    display: flex
    flex-flow: row
    justify-content: space-between
    align-items: center

  &__logo
    max-width: 200px
    img
      max-width: 100%
      height: auto

  &__left
    display: flex
    flex-flow: row
    flex: 1
    align-items: center

  &__docs
    display: flex
    flex-flow: row
    font-family: 'ProximaNova', sans-serif
    font-weight: $font-weight-light
    color: #464646
    margin-left: 50px
    font-size: 14px
    span
      margin-right: 15px
      &:last-child
        margin-right: 0

  &__developer
    display: flex
    flex-flow: row
    align-items: center

  &__developer-info
    font-size: 16px
    line-height: 23px
    color: #ffffff
    font-family: 'ProximaNova', sans-serif
    font-weight: $font-weight-light
    a
      position: relative
      display: inline-block
      color: #ffffff
      transition: .3s cubic-bezier(.17,.67,.83,.67)
      &:after
        content: ''
        position: relative
        display: block
        bottom: 0
        left: 0
        height: 1px
        width: 100%
        background: #fff
        transition: .3s cubic-bezier(.17,.67,.83,.67)
      &:hover
        text-decoration: none
        color: $base-color
        &:after
          width: 0

  &__developer-logo
    margin-top: 5px
    margin-left: 30px