.header
  position: absolute
  width: 100%
  top: 0
  left: 0
  padding: 40px 0
  z-index: 999
  border-bottom: 2px solid #ffffff

  &__inner
    display: flex
    flex-flow: row
    align-items: center
    justify-content: space-between

  &__logo
    max-width: 200px

    img
      max-width: 100%
      height: auto

  &__phone
    span
      display: inline-block
      vertical-align: middle

  &__phone-code
    font-weight: $font-weight-light
    font-size: 16px
    color: #ffffff

  &__phone-number
    font-weight: $font-weight-bold
    font-size: 18px
    color: $base-color

  &__call-request
    text-decoration: none
    color: $base-color
    display: block
    font-weight: $font-weight-light
    margin-top: 5px
    text-align: center
    transition: .3s ease
    &:hover
      text-decoration: none
      color: #ffffff